<div class="po-row">
    <app-widget-view
        class="po-lg-6 po-mt-2"
        title="Days to Payment" 
        [height]="210" 
        subtitle="17 days left" 
        textCenter="Scheduled to 05/04/2018">
    </app-widget-view>
    <app-widget-view
        class="po-lg-3 po-mt-2"
        title="Total savings"
        [height]="200" 
        subtitle="$5.000,00" 
        textCenter="Last updated at 18:34">
    </app-widget-view>
    <app-widget-view
        class="po-lg-3 po-mt-2"
        title="Total savings" 
        [height]="200" 
        subtitle="$5.000,00" 
        textCenter="Last updated at 18:34">
    </app-widget-view>
</div>
<div class="po-row">
    <app-card-view
        class="po-lg-6 po-mt-2"
        header="Days to Payment"
        subtitle="17 days left" 
        textCenter="Scheduled to 05/04/2018">
    </app-card-view>
    <app-card-view
        class="po-lg-3 po-mt-2"
        header="Total savings"
        subtitle="$5.000,00" 
        textCenter="Last updated at 18:34">
    </app-card-view>
    <app-card-view
        class="po-lg-3 po-mt-2"
        header="Total savings"
        subtitle="$5.000,00" 
        textCenter="Last updated at 18:34">
    </app-card-view>
</div>